In [658]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import SGDRegressor
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import ExtraTreeRegressor
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_regression

# Assignment 2 - Regression
### Predict the TOTAL COMPENSATION for this year. 

The data file provided is a salary survey for tech workers in Europe. We want to predict the total amount of compensation they bring in each year, based off of the details of their work. 

Some notes that will be important:
<ul>
    <li>The total compensation will need to be constructed, there is a column for salary, "Yearly brutto salary (without bonus and stocks) in EUR", as well as a column for bonus compensation, "Yearly bonus + stocks in EUR". 
    <li>Some categorical variables will need some work, and there isn't generally an exact answer. The main concern is things with categories that have a bunch of values with a very small count. For example, if there is only 1 person in City X, then that value likely needs to be addressed. We don't want it encoded into a new column of one 1 and thousands of 0s. 
    <li>There is an article exploring some of the data here: https://www.asdcode.de/2021/01/it-salary-survey-december-2020.html
    <li>Imputation and a bit of data manipulation will be required. 
    <li>Use any regression method you'd like. Some ones are closely related to what we've done, you may want to look at them, e.g. ExtraTreesRegressor. 
    <li>Initial accurracy, and potentially final accuracy, may not be great. When I made a plain model will little optimization the errors were large and the R2 was low. There is lots of room for optimization. 
    <li>Research challenge - try some work on the target, look into TransformedTargetRegressor and see if that helps. Recall in stats when we had skewed distributions... Maybe it helps, maybe it doesn't. 
    <li>EDA and data prep are up to you - you'll probably need to do a little exploring to figure out what cleanup is needed. When I did it, I did things kind of iteratively when I did it. For example, look at the value counts, figure out how to treat the different categories, clean something up, look at the results, potentially repeat if needed. After you figure out what needs to be done, you may be able to take some of those steps and incorporate them into a pipeline to be cleaner....
    <li><b>CRITICAL - Please make sure your code runs with RUN ALL. It should load the data that you're given, do all the processing, and spit out results. Comment out or remove anything that you've cleaned up and don't need - e.g. if you scaled a value manually, then moved that into a pipeline, don't leave the original scaling code active when the file is run.</b>
</ul>

### Details and Deliverables

You'll need to build code to produce the predictions. In particular, there's a few things that'll be marked:
<ul>
    <li>Please add a markdown cell at the bottom, and put in a few notes addressing the following:
    <ul>
        <li> Accuracy of your models with/without feature selection. Include both train/test for each. Please use R2 and RMSE. 
        <li> Feature Selection - Please identify what you did for feature selection. No need for a long explaination, something along the lines of "I did X, and the result was that 4 features were removed". Try at least 2 things. 
        <li> Hyperparameter Changes / Grid Search Improvements. What did you try, and why. Similar explaination to above, short. 
        <li> Overall this section should be roughly as long as this intro block - just outline what the results were, what you did to improve, and the results after. 
        <li> If you could use titles/bullet points I'd really appreciate it. 
    </ul>
    <li>Grade Breakdown:
    <ul>
        <li> Code is readable, there are comments: 20%
        <li> Explaination as defined above: 60% (20% each point)
        <li> Accuracy: 20% As compared to everyone else. This will be generously graded, I won't be surprised if overall accuracy is low for most people. 
    </ul>
</ul>

In [659]:
#Load Data
df = pd.read_csv("data/Euro_Salary.csv")
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Timestamp,1253,1248,24/11/2020 13:55:19,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,1226.0,NaN,NaN,NaN,32.509788,5.663804,20.0,29.0,32.0,35.0,69.0
Gender,1243,3,Male,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,1253,119,Berlin,681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,1247,148,Software Engineer,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total years of experience,1237,48,10,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years of experience in Germany,1221,53,2,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seniority level,1241,24,Senior,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Your main technology / programming language,1126,256,Java,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other technologies/programming languages you use often,1096,562,Javascript / Typescript,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yearly brutto salary (without bonus and stocks) in EUR,1253.0,NaN,NaN,NaN,80279042.578715,2825061107.590495,10001.0,58800.0,70000.0,80000.0,99999999999.0
Yearly bonus + stocks in EUR,829,168,0,227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of vacation days,1185,45,30,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employment status,1236,11,Full-time employee,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Сontract duration,1224,3,Unlimited contract,1159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Main language at work,1237,14,English,1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company size,1235,5,1000+,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company type,1228,63,Product,760,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [660]:
df.sample(10)

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type
960,30/11/2020 13:33:21,28.0,Male,Frankfurt,XR Developer,8,1,Lead,C#,"Python, Javascript / Typescript",25000.0,2000,1,Full-time employee,Temporary contract,English,11-50,Startup
793,26/11/2020 21:13:28,32.0,Male,Berlin,Senior Data Engineer,9,4,Senior,Python,"Java / Scala, SQL, AWS",90000.0,NaN,30,Full-time employee,Unlimited contract,English,51-100,Startup
497,25/11/2020 09:05:26,38.0,Male,Berlin,Data Scientist,15,2,Head,Python,"Python, SQL, SAP / ABAP, AWS",100000.0,120000,27,Full-time employee,Unlimited contract,English,101-1000,Startup
472,25/11/2020 01:29:48,31.0,Female,Berlin,QA Engineer,11,1.5,Middle,JS,"Ruby, SQL",57000.0,bvg only,30,Full-time employee,Unlimited contract,English,101-1000,Startup
635,25/11/2020 16:16:23,33.0,Male,Berlin,DevOps,8,3,Senior,AWS,"Python, AWS, Kubernetes, Docker",75000.0,1000,30,Full-time employee,Unlimited contract,English,1000+,service
208,24/11/2020 13:07:24,38.0,Male,Berlin,Software Engineer,16,1,Senior,Python,"Python, Javascript / Typescript, Java / Scala,...",65000.0,NaN,26,Full-time employee,Unlimited contract,English,1000+,Product
1044,01/12/2020 21:28:19,34.0,Male,Hamburg,DevOps,8,1,Senior,Embedded,C/C++,67500.0,2800,30,Full-time employee,Unlimited contract,English,101-1000,Product
1178,19/12/2020 09:31:16,31.0,NaN,Berlin,ML Engineer,5,2.5,Middle,Python,"Java / Scala, AWS, Google Cloud, Kubernetes, D...",77500.0,78000,28,Full-time employee,Unlimited contract,English,1000+,Product
33,24/11/2020 11:27:49,39.0,Male,Berlin,Software Engineer,8,5,Senior,Java,"Python, Java / Scala, SQL, AWS, Google Cloud, ...",80000.0,NaN,29,Full-time employee,Unlimited contract,English,51-100,Startup
63,24/11/2020 11:37:52,34.0,Male,Munich,Software Engineer,13,3,Lead,.NET,".NET, SQL",72000.0,72000,30,Full-time employee,Unlimited contract,English,51-100,Product

In [661]:
#df.info()
df["Other technologies/programming languages you use often"].isna().value_counts()

False    1096
True      157
Name: Other technologies/programming languages you use often, dtype: int64

In [662]:
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",80000.0,5000,30,Full-time employee,Unlimited contract,English,51-100,Product
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,80000.0,NaN,28,Full-time employee,Unlimited contract,English,101-1000,Product
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",120000.0,120000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,54000.0,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",62000.0,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product

In [663]:
#create the target column of Total compensation by combining the yearly salary and yearly bonus columns, then dropping them as well as a metadata column

df["Yearly bonus + stocks in EUR"] = pd.to_numeric(df["Yearly bonus + stocks in EUR"], downcast="float", errors="coerce")
df["Yearly bonus + stocks in EUR"].fillna(0, inplace=True)
df['Total Compensation'] = df['Yearly brutto salary (without bonus and stocks) in EUR'] + df['Yearly bonus + stocks in EUR']

df.drop(columns={"Timestamp","Yearly brutto salary (without bonus and stocks) in EUR", "Yearly bonus + stocks in EUR"}, inplace=True)
df['Position '].rename('Position')

0                            Software Engineer
1                            Backend Developer
2                            Software Engineer
3                           Frontend Developer
4                            Backend Developer
                         ...
1248                         Backend Developer
1249    Researcher/ Consumer Insights Analyst
1250                     IT Operations Manager
1251                        Frontend Developer
1252                                    DevOps
Name: Position, Length: 1253, dtype: object

In [664]:
#function to replace the x lowest occurring values in a column with a designated value
def replace_low_freq(d, col, threshold=10, replacement='other'):
    value_counts = d[col].value_counts() # Specific column 
    to_remove = value_counts[value_counts <= threshold].index
    tmp = d[col].replace(to_replace=to_remove, value=replacement)
    return tmp

In [665]:
#removing the excessive amounts of long responses in these two columns
df["Your main technology / programming language"] = replace_low_freq(df, "Your main technology / programming language", 10, "Other")
df['Other technologies/programming languages you use often'] = replace_low_freq(df, "Your main technology / programming language", 5, "Other")

In [666]:
#Filling in NaNs with selected data. For categorical columns, they are labeled as unknown. For numerical columns, they are usually filled with the median column value
df['Age'].fillna(df['Age'].median(), inplace=True)

df['Gender'].fillna('Other',inplace=True)
df['Position '].fillna('Other',inplace=True)
df['Seniority level'].fillna('Other',inplace=True)
df['Company type'].fillna('Other',inplace=True)

df['Employment status'].fillna('Unknown',inplace=True)
df['Сontract duration'].fillna('Unknown',inplace=True)
df['Main language at work'].fillna('Unknown',inplace=True)
df['Company size'].fillna('Unknown',inplace=True)
df['Company type'].fillna('Unknown',inplace=True)

df['Years of experience in Germany'] = pd.to_numeric(df['Years of experience in Germany'], downcast="float", errors="coerce")
df['Years of experience in Germany'].fillna(df['Years of experience in Germany'].median(),inplace=True)

df['Number of vacation days'] = pd.to_numeric(df['Number of vacation days'], downcast="float", errors="coerce")
df['Number of vacation days'].fillna(df['Number of vacation days'].median(),inplace=True)

df['Total years of experience'] = pd.to_numeric(df['Total years of experience'], downcast="float", errors="coerce")
df['Total years of experience'].fillna(df['Years of experience in Germany'],inplace=True)

df["Your main technology / programming language"].fillna('Unknown',inplace=True)
df['Other technologies/programming languages you use often'].fillna('Unknown',inplace=True)

In [667]:
#creation of the full feature pipeline using a Column Transformer
categorical_features = ['Gender', 'City', 'Position ','Seniority level','Your main technology / programming language',
                        'Other technologies/programming languages you use often','Employment status','Сontract duration',
                        'Main language at work','Company size', 'Company type']
categorical_transformer = OneHotEncoder(handle_unknown = 'ignore')

numeric_features = ["Age", 'Total years of experience','Years of experience in Germany','Number of vacation days']
numeric_transformer = Pipeline( steps=[
        ("imputer", SimpleImputer(strategy="mean")),
        ("scaler", MinMaxScaler())
    ])

preprocessor = ColumnTransformer( transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ])

rf_para = {"criterion":['squared_error','friedman_mse', 'absolute_error', 'poisson'],
            'max_depth':[1,2,3,4,5],
            'ccp_alpha':[0.020,0.0205,0.021],
            'splitter':['random','best'],
            'max_features':['None', 'sqrt', 'log2']
            }

#Creating the models, with a Grid Search used on the Extra Tree Regressor
pipeline_steps_grid = [('pre', preprocessor),('search', GridSearchCV(estimator=ExtraTreeRegressor(),n_jobs=-1,param_grid=rf_para))]
grid = Pipeline(pipeline_steps_grid)

In [668]:
y = (df['Total Compensation'])
x = df.drop(columns={'Total Compensation'})

xTrain,xTest,yTrain,yTest = train_test_split(x,y,random_state=0)

In [669]:
#Fitting and output of RMSE and R2 values of each model
grid.fit(xTrain,yTrain)

yPredG = grid.predict(xTest)

print(grid.named_steps['search'].best_estimator_)
print("RMSE:",mean_squared_error(yTest,yPredG,squared=False),'\n',"R2 Train:",grid.score(xTrain,yTrain),'\n',"R2 Test:",grid.score(xTest,yTest))

ExtraTreeRegressor(ccp_alpha=0.021, criterion='absolute_error', max_depth=4,
                   max_features='sqrt', splitter='best')
RMSE: 50985.039471707074
 R2 Train: -0.0011818614362539837
 R2 Test: -0.02799227738493726

c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
600 fits failed out of a total of 1800.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
600 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1342, in fit
    super().fit(
  File "c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 317, in fit
    raise ValueError(
ValueError: Invalid value for max_features. Allowed string values are 'auto', 'sqrt' or 'log2'.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:953: UserWarning: One or more of the test scores are non-finite: [            nan             nan -1.31591643e+08 -1.43828158e+08
 -3.23142412e+08 -1.10543829e+07             nan             nan
 -9.37456694e+07 -2.52851167e+06 -2.00507741e+09 -1.60272051e+07
             nan             nan -2.89387399e+08 -8.36312142e+07
 -1.00365198e+09 -1.74032444e+08             nan             nan
 -1.34973910e+09 -1.00101556e+09 -1.36147062e+08 -1.38188889e+08
             nan             nan -1.96104820e+05 -1.93774262e+06
 -8.99142410e+08 -2.63862600e+08             nan             nan
 -3.22393976e+08 -1.60963265e+08 -8.25269158e+07 -1.85044887e+08
             nan             nan -3.20763290e+08 -5.22735333e+07
 -1.18570479e+08 -1.00439993e+09             nan             nan
 -2.00208728e+09 -1.08007295e+08 -1.52244034e+08 -1.18083859e+08
             nan             nan -1.00101209e+09 -1.08551410e+09
 -1.26243403e+08 -3.71882440e+08             nan             nan
 -1.00103714e+09 -1.00099918e+09 -4.16397219e+08 -4.65539976e+08
             nan             nan -3.56896091e-02 -1.79047790e-02
 -4.04371980e-02 -4.17718962e-02             nan             nan
 -3.54262853e-02 -2.70646196e-02 -3.31778549e-02 -3.22651707e-02
             nan             nan -2.66875961e-02 -3.91298875e-03
 -2.67941341e-02 -2.93325041e-02             nan             nan
 -2.75052537e-02 -1.37103649e-02 -3.49860119e-02 -5.30737867e-02
             nan             nan -2.55630108e-02 -3.70010496e-02
 -1.52480648e-02 -3.30855094e-02             nan             nan
 -5.56535979e+08 -2.36027802e+08 -4.33406830e+06 -1.18764992e+07
             nan             nan -1.08888027e+09 -6.73390631e+07
 -4.95117398e+06 -1.35036685e+08             nan             nan
 -1.37759365e+07 -2.31361622e+09 -1.26720765e+08 -1.18717506e+08
             nan             nan -7.32958255e+08 -1.00124006e+09
 -1.85459230e+08 -2.48788963e+08             nan             nan
 -1.25658508e+08 -2.00234443e+09 -1.96965138e+07 -5.96888873e+06
             nan             nan -4.34918813e+08 -5.25806828e+07
 -5.00701804e+06 -4.68453873e+06             nan             nan
 -1.59515648e+08 -2.08692705e+08 -4.67162091e+08 -1.60478100e+08
             nan             nan -2.48277309e+07 -4.11401474e+07
 -2.46243903e+07 -1.52452069e+08             nan             nan
 -1.28484701e+05 -8.30937562e+05 -7.68600595e+06 -1.30384775e+08
             nan             nan -6.25787962e+07 -1.00139225e+09
 -5.25303896e+07 -1.15222642e+09             nan             nan
 -1.27471868e+07 -2.21003564e+07 -1.33610813e+08 -6.99262767e+07
             nan             nan -2.01419287e+09 -8.26274175e+07
 -1.66681922e+07 -3.56388335e+07             nan             nan
 -1.11271605e+08 -1.03398327e+09 -1.71320274e+08 -1.92309373e+08
             nan             nan -3.11917541e+07 -1.60221281e+08
 -1.38402953e+09 -9.30403989e+08             nan             nan
 -2.50396449e+08 -5.43528960e+04 -3.50269411e+08 -1.99277682e+07
             nan             nan -4.27868773e-02 -9.96275930e-03
 -4.43683337e-02 -3.38613501e-02             nan             nan
 -2.62362610e-02 -1.11203089e-02 -4.19138736e-02 -4.15965204e-02
             nan             nan -3.94650589e-02 -4.32053413e-02
 -3.72878837e-02 -2.32988446e-02             nan             nan
 -3.02972613e-02 -3.22743096e-02 -4.29127194e-02 -1.31581973e-02
             nan             nan -1.49806941e-03 -3.00964115e-02
 -5.36982083e-02 -3.82829548e-02             nan             nan
 -5.68471126e+07 -3.38498378e+08 -4.61677746e+06 -5.57580817e+06
             nan             nan -3.92648596e+07 -9.46629269e+06
 -1.77805589e+08 -2.80879852e+07             nan             nan
 -2.67208062e+08 -1.12142127e+05 -2.28672625e+08 -6.92827534e+07
             nan             nan -2.89736159e+08 -2.59670294e+08
 -1.89000286e+08 -9.29267002e+08             nan             nan
 -4.01741779e+05 -2.11414603e+07 -1.11338286e+07 -2.00507971e+09
             nan             nan -1.39221803e+07 -5.90730421e+07
 -4.33682051e+06 -4.61499059e+06             nan             nan
 -2.19706446e+08 -1.93400729e+08 -5.30826469e+06 -5.82881311e+07
             nan             nan -2.15427746e+05 -1.74047838e+08
 -4.69497175e+06 -1.71737123e+08             nan             nan
 -4.50059268e+05 -1.06232710e+09 -2.22698807e+07 -2.03187162e+09
             nan             nan -2.48165921e+08 -2.47079834e+05
 -1.11247422e+09 -6.66786353e+07             nan             nan
 -1.82810912e+08 -4.29409894e+07 -3.60064572e+07 -4.94175758e+06
             nan             nan -2.08026304e+08 -1.06686038e+07
 -1.10115160e+09 -1.05228360e+07             nan             nan
 -2.22473085e+08 -7.70152992e+08 -2.54705776e+08 -2.00605845e+09
             nan             nan -1.84887868e+09 -2.78411324e+08
 -1.02345528e+09 -1.54798141e+08             nan             nan
 -1.97857053e+06 -8.89804501e+08 -1.05612918e+09 -1.67590228e+09
             nan             nan -3.57330694e-02 -3.86549625e-02
 -2.00197907e+09 -3.45133070e-02             nan             nan
 -4.01263430e-02 -2.58985768e-02 -3.24376218e-02 -3.85899041e-02
             nan             nan -4.04225877e-02 -1.15357091e-02
 -2.41045840e-02 -3.29253470e-02             nan             nan
 -2.49602481e-02 -3.09026846e-04 -4.04662086e-02 -4.28071732e-02
             nan             nan -4.26711155e-02 -2.80904492e-03
 -2.31052795e-02 -2.36361538e-02             nan             nan
 -1.02942928e+08 -9.18829360e+06 -6.68519262e+07 -5.95843928e+06
             nan             nan -6.19371571e+08 -3.50765083e+07
 -7.48389189e+06 -4.52728603e+08             nan             nan
 -2.08566546e+09 -2.80580028e+08 -1.87361148e+07 -8.32321219e+07
             nan             nan -2.02804633e+07 -1.30826022e+05
 -6.67977626e+07 -8.27421217e+07             nan             nan
 -4.65242345e+06 -2.28412610e+08 -3.04105025e+06 -3.66805214e+07]
  warnings.warn(

In [670]:
#Feature selection using Variance Threshold
varTh = VarianceThreshold(.2)
xDummied = pd.get_dummies(x,drop_first=True)
fsX = varTh.fit_transform(xDummied,y)
mask = varTh.get_support()
newFeatures = xDummied.columns[mask]
print(newFeatures)

Index(['Age', 'Total years of experience', 'Years of experience in Germany',
       'Number of vacation days', 'City_Berlin', 'Position _Software Engineer',
       'Seniority level_Middle', 'Seniority level_Senior',
       'Your main technology / programming language_Other',
       'Other technologies/programming languages you use often_Other',
       'Company size_101-1000', 'Company type_Product'],
      dtype='object')

In [671]:
kb = SelectKBest(mutual_info_regression, k=7)
kbX = kb.fit_transform(xDummied,y)
print("K-Best:", kbX.shape)

#Print the features
mask = kb.get_support()
new_features = xDummied.columns[mask]
print("K-Best Features:", new_features)

K-Best: (1253, 7)
K-Best Features: Index(['Age', 'Total years of experience', 'Years of experience in Germany',
       'Number of vacation days', 'Seniority level_Middle',
       'Seniority level_Senior', 'Сontract duration_Unlimited contract'],
      dtype='object')

In [672]:
#creation of the feature selection pipeline.
numericTransformer = Pipeline(steps=[
        ("imputer", SimpleImputer(strategy="mean")),
        ("scaler", MinMaxScaler())
    ])

##Creating the models, with a Grid Search used on the Extra Tree Regressor
pipelineStepsGrid = [('num', numericTransformer),('search', GridSearchCV(estimator=ExtraTreeRegressor(),n_jobs=-1,param_grid=rf_para))]
fsGrid = Pipeline(pipelineStepsGrid)

In [674]:
#Fitting and output of RMSE and R2 values of each model
fsX = pd.DataFrame(fsX,columns=newFeatures)
xTrainFS,xTestFS,yTrainFS,yTestFS = train_test_split(fsX, y,random_state=42)

fsGrid.fit(xTrainFS,yTrainFS)
yPredFSG = fsGrid.predict(xTestFS)

print("Variance Threshold",fsGrid.named_steps['search'].best_estimator_)
print('RMSE:',mean_squared_error(yTestFS,yPredFSG,squared=False),'\n',"R2 Train:",fsGrid.score(xTrainFS,yTrainFS),'\n',"R2 Test:",fsGrid.score(xTestFS,yTestFS),'\n')

kbX = pd.DataFrame(kbX,columns=new_features)
xTrainFS,xTestFS,yTrainFS,yTestFS = train_test_split(kbX, y,random_state=42)

fsGrid.fit(xTrainFS,yTrainFS)
yPredFSG = fsGrid.predict(xTestFS)

print("Select K Best",fsGrid.named_steps['search'].best_estimator_)
print('RMSE:',mean_squared_error(yTestFS,yPredFSG,squared=False),'\n',"R2 Train:",fsGrid.score(xTrainFS,yTrainFS),'\n',"R2 Test:",fsGrid.score(xTestFS,yTestFS))

c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
600 fits failed out of a total of 1800.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
600 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1342, in fit
    super().fit(
  File "c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 317, in fit
    raise ValueError(
ValueError: Invalid value for max_features. Allowed string values are 'auto', 'sqrt' or 'log2'.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:953: UserWarning: One or more of the test scores are non-finite: [            nan             nan -2.01505185e+07 -2.65953547e+07
 -1.19260908e+07 -1.53998747e+07             nan             nan
 -1.70185155e+07 -5.65577510e+07 -1.53844839e+07 -4.42485272e+07
             nan             nan -3.66498017e+07 -2.10582536e+08
 -3.38007590e+07 -9.04945215e+07             nan             nan
 -4.01342448e+07 -3.65459839e+08 -5.66057569e+07 -1.72585973e+08
             nan             nan -1.21809541e+08 -7.24180699e+08
 -5.96625144e+07 -4.80944603e+08             nan             nan
 -9.01441849e+06 -1.03087511e+07 -7.84436209e+06 -1.32962152e+07
             nan             nan -2.06540835e+07 -2.93046083e+07
 -1.96315854e+07 -5.47459741e+07             nan             nan
 -2.02231245e+07 -4.48430236e+07 -2.53661862e+07 -8.16634075e+07
             nan             nan -6.32505347e+07 -3.11656847e+08
 -5.65297000e+07 -6.87546590e+07             nan             nan
 -4.72372051e+07 -5.87458701e+08 -5.47370883e+07 -1.97487822e+09
             nan             nan -2.71136740e-02 -9.94505112e-03
 -1.02864942e-02 -9.37911473e-03             nan             nan
  9.06009881e-03  1.02983036e-02 -2.66455873e+07 -4.36970701e-03
             nan             nan  2.99866466e-03 -2.66455873e+07
 -1.20369245e-02  1.10191364e-02             nan             nan
  3.14496274e-03 -2.66455873e+07 -1.41017005e-02 -2.66455873e+07
             nan             nan -2.66455873e+07 -7.64449817e-03
 -1.20338125e-02 -4.68106807e-02             nan             nan
 -1.25660548e+07 -1.03910414e+07 -1.00815742e+07 -2.02543173e+07
             nan             nan -1.80769690e+07 -1.47142411e+08
 -1.99489368e+07 -7.08668037e+07             nan             nan
 -2.86530807e+07 -1.08598929e+08 -2.23783611e+07 -1.14118399e+08
             nan             nan -6.96991097e+07 -1.33112513e+09
 -3.60288071e+07 -1.31552487e+08             nan             nan
 -3.58123314e+07 -1.01062583e+09 -3.20714459e+07 -4.52523699e+09
             nan             nan -1.25173995e+07 -3.17551517e+07
 -1.20172900e+07 -2.57499447e+07             nan             nan
 -1.83827902e+07 -5.40061480e+07 -1.53464445e+07 -4.13413929e+07
             nan             nan -3.73704099e+07 -3.32442535e+08
 -2.67427710e+07 -7.00037323e+07             nan             nan
 -5.43368507e+07 -4.21621039e+08 -4.18095818e+07 -3.41839915e+08
             nan             nan -5.64476874e+07 -1.43432201e+08
 -1.25453569e+08 -1.50170909e+09             nan             nan
 -8.47423984e+06 -9.64093122e+06 -1.23562782e+07 -2.95903258e+07
             nan             nan -2.00412429e+07 -4.71293692e+07
 -1.32997317e+07 -3.10730841e+07             nan             nan
 -4.60769157e+07 -1.47308563e+08 -4.02157726e+07 -1.86363925e+08
             nan             nan -3.79581134e+07 -3.72209569e+08
 -3.97947642e+07 -6.78965609e+08             nan             nan
 -7.34650462e+07 -1.25761309e+09 -6.15212514e+07 -1.46184113e+09
             nan             nan  6.42711014e-03  3.70227268e-03
 -1.39068697e-02 -2.66455873e+07             nan             nan
 -1.78024519e-02  2.07215368e-02 -2.03156018e-02 -2.66455873e+07
             nan             nan  1.48845993e-02  2.22904220e-02
 -3.31963869e-02 -2.66455873e+07             nan             nan
  2.10320421e-02  2.74331213e-02 -1.47376865e-02  2.76073637e-02
             nan             nan -1.74972589e-02  3.39839132e-02
 -4.72254033e-03  7.65549247e-04             nan             nan
 -1.17733796e+07 -9.70011015e+06 -1.32000535e+07 -1.47308808e+07
             nan             nan -2.08860386e+07 -5.38156535e+07
 -1.74765353e+07 -1.69749457e+07             nan             nan
 -3.65448234e+07 -1.02415173e+08 -1.77727550e+07 -6.68596048e+07
             nan             nan -4.27410263e+07 -2.44516855e+08
 -4.93284778e+07 -2.35048997e+08             nan             nan
 -7.47794701e+07 -1.39336365e+09 -6.19712294e+07 -4.63736223e+09
             nan             nan -3.35327178e+07 -2.76325069e+07
 -9.26694490e+06 -1.33554269e+07             nan             nan
 -2.36822098e+07 -1.17073300e+08 -3.73345839e+07 -5.17718517e+07
             nan             nan -4.54677092e+07 -1.95213485e+08
 -2.93743698e+07 -5.81473018e+07             nan             nan
 -5.43860101e+07 -1.10994939e+08 -5.13480281e+07 -3.08160021e+08
             nan             nan -9.52811252e+07 -3.30080810e+08
 -1.86383787e+08 -9.96957397e+08             nan             nan
 -1.13627857e+07 -1.51928676e+07 -9.79018191e+06 -3.82518719e+07
             nan             nan -1.85182392e+07 -4.05612232e+07
 -1.87944416e+07 -2.55697225e+07             nan             nan
 -2.88986460e+07 -8.84439317e+07 -2.98386271e+07 -8.88898060e+07
             nan             nan -6.82696520e+07 -7.69120553e+08
 -7.28542748e+07 -5.51561010e+08             nan             nan
 -7.87119848e+07 -1.16014615e+09 -6.28765018e+07 -3.54453558e+09
             nan             nan -2.87580824e-02 -2.66455873e+07
 -9.15006509e-03 -2.66455873e+07             nan             nan
 -4.18693477e-03 -2.66455873e+07 -2.66455873e+07 -1.05886729e-02
             nan             nan -4.29863526e-03  1.17365750e-02
 -2.56553329e-03 -6.55818076e-02             nan             nan
 -2.66455873e+07  3.63352772e-02 -2.34142935e-02  9.80952668e-03
             nan             nan -2.66455873e+07  1.78230657e-02
 -1.64036860e-03 -1.23088173e-03             nan             nan
 -1.24339065e+07 -1.52052010e+07 -7.47831110e+06 -1.15008506e+07
             nan             nan -1.59940267e+07 -5.66054457e+07
 -1.43623720e+07 -1.69679383e+07             nan             nan
 -3.03106338e+07 -8.50025572e+07 -2.98207240e+07 -2.69030892e+08
             nan             nan -5.57299734e+07 -2.78822781e+08
 -4.23664562e+07 -2.85236291e+08             nan             nan
 -1.28865727e+08 -7.82847412e+08 -7.28364933e+07 -4.64383186e+08]
  warnings.warn(

Variance Threshold ExtraTreeRegressor(ccp_alpha=0.021, criterion='absolute_error', max_depth=4,
                   max_features='sqrt', splitter='best')
RMSE: 70665.15203175523
 R2 Train: 0.0018359457258604328
 R2 Test: -0.0042290345237328

Select K Best ExtraTreeRegressor(ccp_alpha=0.0205, criterion='absolute_error', max_depth=5,
                   max_features='log2', splitter='best')
RMSE: 67007.47184415333
 R2 Train: 0.0018354666232668349
 R2 Test: 0.09703972678997608

c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
600 fits failed out of a total of 1800.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
600 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1342, in fit
    super().fit(
  File "c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 317, in fit
    raise ValueError(
ValueError: Invalid value for max_features. Allowed string values are 'auto', 'sqrt' or 'log2'.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\atrsy\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:953: UserWarning: One or more of the test scores are non-finite: [            nan             nan -3.52611563e+07 -3.48833185e+07
 -9.66933951e+06 -2.58703230e+07             nan             nan
 -1.35038326e+07 -1.06399730e+08 -6.61593184e+07 -1.32989665e+08
             nan             nan -5.61061094e+07 -3.21224057e+08
 -1.62921673e+08 -1.74259036e+08             nan             nan
 -1.53258387e+08 -3.47488438e+08 -9.66386241e+07 -3.22646181e+08
             nan             nan -8.06049169e+07 -9.09944366e+08
 -1.34373246e+08 -1.51840673e+09             nan             nan
 -6.98833771e+06 -6.55160953e+07 -3.30765054e+07 -2.72643487e+07
             nan             nan -8.06136264e+07 -1.12663505e+08
 -1.20869380e+07 -1.06719313e+08             nan             nan
 -1.72903895e+08 -1.37758945e+08 -1.81795752e+07 -6.05885318e+08
             nan             nan -5.84496300e+08 -1.26453167e+08
 -7.70682916e+07 -2.72961031e+08             nan             nan
 -7.42992962e+07 -1.07362669e+09 -9.33526100e+07 -1.79205060e+09
             nan             nan -1.02872312e-02  5.34192090e-03
 -2.54331761e-02 -2.15812971e-02             nan             nan
  7.47128300e-04 -2.66455873e+07  6.88444666e-03 -3.62522772e-02
             nan             nan -2.66455873e+07  1.13443045e-02
  5.86203442e-03  1.42144172e-02             nan             nan
 -2.66455873e+07  1.11301496e-02  2.31292418e-02 -2.66455873e+07
             nan             nan -1.29804858e-02 -5.65725474e-04
 -5.92648529e-02 -2.66455873e+07             nan             nan
 -6.43042971e+06 -6.27309399e+07 -6.87023602e+06 -5.46577681e+07
             nan             nan -7.15999794e+07 -7.73537475e+07
 -3.87951584e+07 -8.07057874e+07             nan             nan
 -6.76770789e+07 -2.04862383e+08 -9.09445721e+07 -3.02832719e+08
             nan             nan -9.20519409e+07 -2.14763024e+08
 -8.94475271e+07 -5.94931271e+08             nan             nan
 -2.29728588e+08 -6.23506798e+08 -2.55095118e+08 -2.32527138e+09
             nan             nan -7.43824674e+06 -3.62577219e+07
 -3.99866662e+07 -2.79147707e+07             nan             nan
 -8.98219117e+07 -9.52339840e+07 -9.88824978e+07 -7.23025683e+07
             nan             nan -8.84969048e+07 -4.17558491e+08
 -4.91362393e+07 -1.49331946e+08             nan             nan
 -3.09611080e+08 -4.81814180e+08 -6.26723477e+07 -5.36813537e+08
             nan             nan -4.95504580e+08 -1.69317167e+08
 -1.62815040e+08 -5.04145831e+09             nan             nan
 -8.03447393e+06 -3.72739870e+07 -3.61049146e+07 -2.01871550e+07
             nan             nan -5.88777126e+07 -1.09817533e+08
 -4.19817735e+07 -8.69490627e+07             nan             nan
 -6.70151870e+07 -1.45375455e+08 -4.69836041e+07 -3.51757638e+08
             nan             nan -1.01642845e+08 -7.42781906e+08
 -5.44782854e+07 -1.11351973e+09             nan             nan
 -6.79329966e+07 -2.83925246e+09 -1.21429076e+08 -1.14023721e+09
             nan             nan -1.75610979e-02  5.11722801e-03
 -3.20499567e-02 -1.71699701e-02             nan             nan
 -1.31384345e-02 -2.66455873e+07  1.62407305e-02 -2.66455873e+07
             nan             nan  8.41707246e-04  1.24331702e-02
  3.75344377e-03  2.64422324e-04             nan             nan
 -5.11879000e-03 -9.79376725e-03  7.93880801e-03  8.54746932e-03
             nan             nan  5.67476816e-03  1.37606140e-02
 -4.35473812e-02  5.03647227e-02             nan             nan
 -1.01294678e+07 -6.55160953e+07 -3.32697680e+07 -6.28389850e+07
             nan             nan -7.26906299e+07 -7.86962485e+07
 -1.12746846e+07 -9.90910932e+07             nan             nan
 -8.38075894e+07 -1.60275545e+08 -1.13196181e+08 -1.14470783e+08
             nan             nan -1.94273184e+08 -1.10496267e+09
 -1.27098809e+08 -7.25105373e+08             nan             nan
 -2.93305524e+08 -1.06757838e+09 -6.81495551e+07 -3.98485703e+08
             nan             nan -3.70334945e+07 -8.91589945e+06
 -3.57975934e+07 -3.60959876e+07             nan             nan
 -2.15558406e+07 -4.43094866e+07 -1.54097207e+07 -7.05358478e+07
             nan             nan -1.34265898e+08 -3.50891910e+08
 -9.61008965e+07 -4.03996932e+08             nan             nan
 -1.37900028e+08 -4.94742846e+08 -1.42664612e+08 -1.24265978e+09
             nan             nan -1.30439023e+08 -4.63941967e+09
 -1.35125543e+08 -1.38429278e+09             nan             nan
 -7.11502512e+06 -3.35806113e+07 -3.28929384e+07 -3.50441537e+07
             nan             nan -1.98451920e+07 -1.44699714e+08
 -4.38451007e+07 -7.00874862e+07             nan             nan
 -8.25832559e+07 -1.55535675e+08 -1.06550813e+08 -2.43343855e+08
             nan             nan -1.64555734e+08 -3.96043003e+08
 -1.16765314e+08 -2.92101867e+08             nan             nan
 -1.44419873e+08 -3.52624372e+09 -3.62626478e+08 -2.20663758e+09
             nan             nan -1.48482583e-02 -2.66455873e+07
 -2.27638947e-03 -8.53808718e-03             nan             nan
  1.44046701e-02 -2.66455873e+07 -3.03801979e-03  5.93881382e-03
             nan             nan -2.66455873e+07  1.21454708e-03
  1.65880740e-02 -2.66455873e+07             nan             nan
 -1.82048959e-02  2.25107224e-02 -1.41307675e-02 -2.11391633e-02
             nan             nan  1.17793078e-02  3.26204932e-02
 -1.64497133e-02 -2.99822104e-02             nan             nan
 -1.21176718e+07 -1.07984618e+07 -1.01153572e+07 -1.31885301e+07
             nan             nan -6.33580218e+07 -1.61115489e+08
 -4.44626679e+07 -9.99598812e+07             nan             nan
 -9.66121881e+07 -1.26212284e+08 -8.86320393e+07 -2.00922862e+08
             nan             nan -1.01327448e+08 -2.35791356e+08
 -6.73583554e+07 -6.09746176e+08             nan             nan
 -1.46969596e+08 -5.03836924e+08 -1.75240036e+08 -5.21030669e+08]
  warnings.warn(

# Answers and Explainations
(Expand/modify as needed)

### Results
<ul>
    <li>The best model seemed to be the Extra Tree Regressor, having an RMSE of 50971.06, a Training R2 of -0.00118, and a Testing R2 of -0.0274
    <li>After feature selection, best RMSE was 67007.472, Training R2 was 0.00184 and Testing R2 was 0.0970
</ul>

### Feature Selection Activities
<ul>
    <li>Variance Threshold, removed 4 features
    <li>Select K Best, kept 7 features
</ul>  

### Hyperparameter Changes
<ul>
    <li>Criterion - squared_error, friedman_mse, absolute_error, poisson
    <li>Max_depth - 1, 2, 3, 4, 5
    <li>ccp_alpha - 0.020, 0.0205, 0.021
    <li>Splitter - random, best
    <li>Max_features - None, sqrt, log2
</ul>